body {
    background-color:#162521;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    opacity: 95%;
    background-image: url("japan.jpg");
    background-repeat: repeat;
    background-size: 100vw;
    font-size: 15px;
}
header {
    flex: 0 50px;
    height: 175px;
    
}
header h1 {
    position: absolute;
    left: 40%;
    justify-content: center;
    font-size: 50px;
    text-decoration: underline aliceblue;
}
header img {
    background-color:#3C474B;
    width: 150px;
    height: 150px;
    opacity: 80%;
    border-radius: 50%;
    margin: 10px;
}

main {
    flex: 1;
    display:flex;
    color: aliceblue;
}

aside {
    flex:0 300px;
}
ul{
    padding-left: 0px;
}
li {
    list-style: none;
}

.Social-Media {
    flex-grow:0;
    background-color:#202C39;
    text-align: center;
    border-radius: 25px;
    margin: 0px, 10px, 0px, 10px;
    
}


.Career {
    background-color:#3C474B;
    flex-grow: 4;  
    text-align: center; 
    padding: 10px; 
    border-radius: 25px;
    margin: 0px, 10px, 0px, 10px;
}
 
 .Career img {
     display: inline-block;
 }

@media screen and (max-width: 1000px) {
    main {
      flex-direction: column;
    }
.Career {
    order:1;
}
.Social-Media {
    order:2;
}

}  